body {
    background: url('/img/bgrnd.jpg') $white-color no-repeat !important;
    background-position: center top;
    padding-top: 85px;
}
h1, h2, h3 {
    font-family: "Arial", Helvetica, sans-serif !important;
    color: $dark-blue !important;
}

p, a {
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 14px;
    color: $grey;
}
.form-control {
    border: 1px solid $nav-grey !important;
    text-transform: none;
    border-radius: 0 !important;
   /* color: $nav-grey !important; */
}
.btn, input, select,textarea,.chosen-default,.navbar-toggle{
    border-radius: 0 !important;
}
.nopadding {
    padding: 0 !important;
}

/* custom checkbox - start */
#page-wrapper .checkbox {
    padding: 0 !important;
    margin-top: 5px;
    margin-bottom: 5px;
}
    /* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 29px;
    cursor: pointer;
    font-family: $arial-font-family;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #606060;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left:0; top: 1px;
    width: 15px; height: 15px;
    border: 1px solid #b6b6b6;
    background: $white-color;
    border-radius: 0px;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '\2714';
    position: absolute;
    top: 3px; left: 2px;
    font-size: 15px;
    line-height: 0.8;
    color: $primary-btn-color;
    transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #b6b6b6;
    background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
    color: #999;
}
[type="checkbox"]:disabled + label {
    color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  /*  border: 1px dotted $primary-btn-color;*/
}

/* hover style just for information */
/*label:hover:before {
    border: 1px solid $primary-btn-color!important;
} */
/* custom checkbox - end */

/* inputs - start */
input.form-control, select.form-control {
   min-height: 40px !important; 
}

select.form-control {
    width: auto;
}
.form-control::-webkit-input-placeholder { /* WebKit browsers */
    text-transform: uppercase;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-transform: uppercase;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-transform: uppercase;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
    text-transform: uppercase;
}
/* inputs - end */
.content-wrap {
    min-height: 596px;
}
.full-width {
    width: 100%;
    /* display: block; */
}
.hide, .hidden, .select-mandants {
    display: none;
}
.checkbox.no-margin-top .checkbox{
    margin-top: 0;
}
.checkbox.no-margin-bottom .checkbox{
    margin-bottom: 0;
}
.no-margin-top {
    margin-top: 0 !important; 
}

.no-margin-bottom {
    margin-bottom: 0 !important; 
}

.vertical-center {
    vertical-align: middle !important;
}

.table.data-table{
    width: 100% !important;
    th.no-sort:after{
        content: "";
    }
}
.parent-tabs{
    margin-bottom: 20px;
}

.bordered{
    border: 1px solid rgb(230, 230, 230);
}

.bordered.home{
    min-height: 320px;
}

.input-group label.control-label{
    display: none;
}

.table-options .btn {
    min-width: 90px;
}

.label-button .btn{
    margin-top: 25px;
}

.panel-options form{
    display: inline-block !important;
}

.collapsing {
    transition: height 0.6s !important;
}


.tree {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #fbfbfb;
    border: 1px solid #999;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: initial;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)
}

.tree li {
    list-style-type: none;
    margin: 0;
    padding: 10px 5px 0 5px;
    position: relative
}

.tree li::before,
.tree li::after {
    content: '';
    left: -20px;
    position: absolute;
    right: auto
}

.tree li::before {
    border-left: 1px solid #999;
    bottom: 50px;
    height: 100%;
    top: 0;
    width: 1px
}

.tree li::after {
    border-top: 1px solid #999;
    height: 20px;
    top: 25px;
    width: 25px
}

.tree li span {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #999;
    border-radius: 5px;
    display: inline-block;
    padding: 3px 8px;
    text-decoration: none
}

.tree li.parent_li>span {
    cursor: pointer
}

.tree>ul>li::before,
.tree>ul>li::after {
    border: 0
}

.tree li:last-child::before {
    height: 30px
}

.tree li.parent_li>span:hover,
.tree li.parent_li>span:hover+ul li span {
    background: #eee;
    border: 1px solid #94a0b4;
    color: #000
}

.box.pink {
    background-color: #F5B5C8;
}

.box.purple {
    background-color: #B391B5;
}

.nopadding-left {
    padding-left: 0 !important;
}

.nopadding-right {
    padding-right: 0 !important;
}

.table .valign{
    vertical-align: middle;
}

.iso-category-select{
    display: none;
}

/*Chosen*/
.chosen-container{
    width: 100% !important;    
}

select.form-control + .chosen-container.chosen-container-single .chosen-single{
    display: block;
    width: 100%;
    height: 40px;
    padding: 8px 15px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background-image:none;
}
 
select.form-control + .chosen-container.chosen-container-single .chosen-single div {
    top:4px;
    color:#000;
}
 
select.form-control + .chosen-container .chosen-drop {
    background-color: #FFF;
    border: 1px solid #CCC;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    margin: 2px 0 0;
 
}
 
select.form-control + .chosen-container .chosen-search input[type=text] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image:none;
}
 
select.form-control + .chosen-container .chosen-results {
    margin: 2px 0 0;
    padding: 5px 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    margin-bottom: 5px;
}
 
select.form-control + .chosen-container .chosen-results li , 
select.form-control + .chosen-container .chosen-results li.active-result {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap;
    background-image:none;
}
select.form-control + .chosen-container .chosen-results li:hover, 
select.form-control + .chosen-container .chosen-results li.active-result:hover,
select.form-control + .chosen-container .chosen-results li.highlighted
{
    color: #FFF;
    text-decoration: none;
    background-color: #428BCA;
    background-image:none;
}
 
select.form-control + .chosen-container-multi .chosen-choices {
    display: block;
    width: 100%;
    padding: 5px 15px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image:none;
    min-height: 40px !important;
}
 
select.form-control + .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    height:auto;
    padding:5px 0;
}
 
select.form-control + .chosen-container-multi .chosen-choices li.search-choice {
 
    background-image: none;
    padding: 3px 24px 3px 5px;
    margin: 0 6px 0 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    background-color: #FFF;
    border-color: #CCC;
}
 
select.form-control + .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    top:8px;
    right:6px;
}
 
select.form-control + .chosen-container-multi.chosen-container-active .chosen-choices,
select.form-control + .chosen-container.chosen-container-single.chosen-container-active .chosen-single,
select.form-control + .chosen-container .chosen-search input[type=text]:focus{
    border-color: #66AFE9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
}
 
select.form-control + .chosen-container-multi .chosen-results li.result-selected{
    display: list-item;
    color: #ccc;
    cursor: default;
    background-color: white;
}

select.form-control + .chosen-container-single .chosen-single div b {
    background-position-y: 5px;
}

/*End Chosen*/

/*Image preview start*/
#image-preview{
    max-height: 320px;
}
/*Image preview end*/


/* custom radio button - start */
.radio-custom {
    opacity: 0;
    position: absolute;   
}

.radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    font-family: $arial-font-family;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #606060;
    margin-bottom: 2px;
}

.radio-custom-label {
    position: relative;
}

 .radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 1px solid #b6b6b6;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    padding: 1px;
    margin-right: 10px;
    text-align: center;
}

.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
    content: "\2022";
    font-size: 34px;
    line-height: 12px;
    color: $dark-blue;
    transition: all .3s;
}

/* checked mark aspect changes */
.radio-custom:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
.radio-custom:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
/* custom radio button - end */