html{
    overflow-y: hidden;
}

.navbar-toggle.big{
    margin-right: 0;
}

@media(min-width:768px) {
    
    .sidebar {
        margin-top: 1px;
    }
    
    .navbar-toggle.big{
        display: block;
    }
 
}