html{
    overflow-y: hidden;
}

textarea{
    max-width: 100%;
}

.navbar-toggle.big{
    margin-right: 0;
}

.sidebar .nav-fourth-level li a {
    padding-left: 74px;
}

.panel-group .panel {
    border-radius: 0;
    .panel-heading {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

@media(min-width:768px) {
    
    .sidebar {
        margin-top: 1px;
    }
    
    .navbar-toggle.big{
        display: block;
    }
 
}